body {
	margin: 0 auto;
	padding: 0 auto;
	background-color: rgb(250, 210, 233);
	background-image: url("./assets/flora.jpg");
	background-repeat: no-repeat;
	background-position-x: 0;
	background-size: 550px 800px;
	height: 100vh;
}
#container {
	position: absolute;
	margin-left: 90px;
	margin-top: -40px;
	display: block;
}
#view-button {
	width: 300px;
	height: 50px;
	font-size: 24px;
	border: none;
	display: block;
	background-color: #1a92b1;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: -5px;
	cursor: pointer;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
#miaw {
	display: none;
	width: 300px;
	margin-top: 5px;
	margin-left: 65px;
}
#kata {
	border-radius: 10%;
	background-color: white;
	display: none;
	margin-top: 10px;
	margin-left: 50px;
	padding: 10px;
	width: 260px;
}
#kata p {
	text-align: center;
	color: rgb(9, 9, 27);
	font-size: 15px;
	font-family: DM Serif Display;
}

#close-button {
	width: 300px;
	height: 50px;
	font-size: 24px;
	border: none;
	display: none;
	background-color: #cf42e2;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
}
#name {
	margin-top: 100px;
	margin-left: 825px;
}
#name h1 {
	font-family: Pacifico;
	font-size: 70px;
}
.header {
	position: relative;
	margin-top: -200pt;
	float: right;
	border: none;
}
.header img {
	border-style: none;
	height: 78px;
	width: 78px;
	cursor: pointer;
}
.Do {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 770px;
	top: 250px;
}

.Re {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 830px;
	top: 250px;
}

.Mi {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 890px;
	top: 250px;
}

.Fa {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 950px;
	top: 250px;
}

.Sol {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 1010px;
	top: 250px;
}

.La {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 1070px;
	top: 250px;
}

.Si {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 1130px;
	top: 250px;
}

.Do1 {
	position: absolute;
	padding-top: 248px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
	z-index: 50;
	background-color: white;
	cursor: pointer;
	left: 1190px;
	top: 250px;
}

.Re_ {
	position: absolute;
	padding-top: 120px;
	padding-bottom: 20px;
	padding-right: 22px;
	padding-left: 22px;
	z-index: 50;
	background-color: black;
	cursor: pointer;
	left: 800px;
	top: 250px;
}

.Mi_ {
	position: absolute;
	padding-top: 120px;
	padding-bottom: 20px;
	padding-right: 22px;
	padding-left: 22px;
	z-index: 50;
	background-color: black;
	cursor: pointer;
	left: 870px;
	top: 250px;
}

.Sol_ {
	position: absolute;
	padding-top: 120px;
	padding-bottom: 20px;
	padding-right: 22px;
	padding-left: 22px;
	z-index: 50;
	background-color: black;
	cursor: pointer;
	left: 1040px;
	top: 250px;
}

.La_ {
	position: absolute;
	padding-top: 120px;
	padding-bottom: 20px;
	padding-right: 22px;
	padding-left: 22px;
	z-index: 50;
	background-color: black;
	cursor: pointer;
	left: 1110px;
	top: 250px;
}

.Si_ {
	position: absolute;
	padding-top: 120px;
	padding-bottom: 20px;
	padding-right: 22px;
	padding-left: 22px;
	z-index: 50;
	background-color: black;
	cursor: pointer;
	left: 1170px;
	top: 250px;
}
.Do:hover,
.Mi:hover,
.Sol:hover,
.Si:hover {
	background-color: rgb(189, 27, 54);
}
.Re:hover,
.Fa:hover,
.La:hover,
.Do1:hover {
	background-color: rgb(235, 77, 103);
}
.Re_:hover,
.Mi_:hover,
.Sol_:hover,
.La_:hover,
.Si_:hover {
	background-color: rgb(211, 211, 163);
}
#Footer {
	position: relative;
	margin-top: 405px;
	margin-right: 20px;
	float: right;
}
#Footer h4 {
	text-align: right;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	font-weight: bold;
}
